*{  text-align: center;
    margin: 0;
    padding: 0;
}
#Titulo{
    color:black;
    font-weight: bold;
    background-color: oklch(87.1% 0.006 286.286);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 6px;

}

#Assassins{
   display: flex;
   justify-content: center;
   background:oklch(50.943% 0.20864 28.604 / 0.863);
   padding: 35px;
   color: white;
}

table{
    border-radius: 10px;
}
.black{
    color: red;
}

.link a:link,.link a:visited{
    color: white;
    text-decoration: none
}
.link a:hover{
    color: black;
    background: red;
}

.header{
    background-color:  #1C2834;;
    font-weight: bold;
    font-size: 25px;
    color: white;
    
}
#title2{
    display: inline;
}
.text{
    text-align: justify;
    padding: 10px;
}
.um{background-color: oklch(20.5% 0 0)
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
